########################
# Backend Java / JEE
########################
target/
*.class
*.log

########################
# Frontend Angular
########################
node_modules/
dist/
.angular/
.env

########################
# IDE
########################
.idea/
*.iml
.vscode/

########################
# OS
########################
.DS_Store
Thumbs.db
