<div class="min-h-screen w-full flex bg-[#FFF5FA] p-4 md:p-6 font-sans">

  <div
    class="hidden md:flex w-1/2 bg-gradient-to-br from-[#E040FB] to-[#530062] rounded-[50px] p-12 flex-col justify-between text-white relative overflow-hidden shadow-2xl">
    <div class="absolute top-10 left-10">
      <img src="assets/star.png" alt="">
    </div>
    <div></div>
    <div class="relative z-10 space-y-4">
      <h2 class="text-3xl font-bold tracking-wide">EGA <span class="font-extrabold">BANQUE</span></h2>
      <p class="uppercase text-sm tracking-widest opacity-80 border-b border-white/30 pb-4 inline-block">La banque qui
        vous accompagne au quotidien.</p>
      <p class="text-sm leading-relaxed text-purple-100 max-w-md">Gérez vos comptes, effectuez vos transactions et
        suivez vos finances en toute sécurité, où que vous soyez.</p>
    </div>
    <div
      class="absolute -bottom-20 -right-20 w-96 h-96 bg-[#BE41D4] rounded-full blur-3xl opacity-30 mix-blend-overlay">
    </div>
  </div>

  <div class="w-full md:w-1/2 flex flex-col p-8 md:p-20">

    <div class="flex-1 flex flex-col justify-center items-center w-full">

      <div class="flex items-center gap-3 mb-10 logo">
        <div class="logo-img">
          <img src="../../assets/logo.jpg" alt="Logo">
        </div>
        <span>EGA</span><span class="logo-text">BANQUE</span>
      </div>

    <div class="w-full max-w-md space-y-8 text-center">
      <div>
        <h1 class="text-2xl md:text-2xl font-extrabold text-[#530062] uppercase mb-2">
          Connexion à votre espace client
        </h1>
        <p class="text-black text-sm">Accédez à votre compte en toute sécurité.</p>
      </div>

      <form class="space-y-6 text-left" (ngSubmit)="onSubmit()">
        <div>
          <label class="block text-sm font-bold text-black mb-2 ml-1">Adresse e-mail</label>
          <input type="email" [(ngModel)]="loginData.username" name="username" placeholder="Entrez votre e-mail"
            class="w-full bg-[#F7D9FF] text-[#B074C0] px-6 py-4 rounded-xl focus:outline-none focus:ring-2 focus:ring-[#D94CDF] transition placeholder-[#B074C0] font-small"
            required>
        </div>

        <div>
          <label class="block text-sm font-bold text-gray-800 mb-2 ml-1">Mot de passe</label>
          <input type="password" [(ngModel)]="loginData.password" name="password"
            placeholder="Entrez votre mot de passe"
            class="w-full bg-[#F7D9FF] text-[#B074C0] px-6 py-4 rounded-xl focus:outline-none focus:ring-2 focus:ring-[#D94CDF] transition placeholder-[#B074C0] font-small"
            required>
        </div>

        <div class="pt-4 flex justify-center">
          <button type="submit" [disabled]="isLoading"
            class="w-2/3 bg-gradient-to-r from-[#E040FB] to-[#D94CDF] text-white font-bold py-4 rounded-xl shadow-lg hover:shadow-xl hover:scale-105 transition transform duration-300 disabled:opacity-50 disabled:cursor-not-allowed uppercase tracking-wide text-l">
            {{ isLoading ? 'Connexion...' : 'Se connecter' }}
          </button>
        </div>
      </form>
    </div>

  </div>

  <div class="mt-4 text-[10px] text-purple-400 uppercase tracking-widest text-center">
    © 2026 EGA BANQUE – Tous droits réservés
  </div>

</div>
</div>
