<div class="min-h-screen w-full flex bg-[#FFF5FA] p-4 md:p-6 font-sans">

  <div class="hidden md:flex w-1/2 bg-gradient-to-br from-[#E040FB] to-[#530062] rounded-[50px] p-12 flex-col justify-between text-white relative overflow-hidden shadow-2xl">
    <div class="absolute top-10 left-10"><img src="assets/star.png" alt=""></div>
    <div></div>
    <div class="relative z-10 space-y-4">
      <h2 class="text-3xl font-bold tracking-wide">EGA <span class="font-extrabold">BANQUE</span></h2>
      <p class="uppercase text-sm tracking-widest opacity-80 border-b border-white/30 pb-4 inline-block">La banque qui vous accompagne au quotidien.</p>
      <p class="text-sm leading-relaxed text-purple-100 max-w-md">Gérez vos comptes, effectuez vos transactions et suivez vos finances en toute sécurité, où que vous soyez.</p>
    </div>
    <div class="absolute -bottom-20 -right-20 w-96 h-96 bg-[#BE41D4] rounded-full blur-3xl opacity-30 mix-blend-overlay"></div>
  </div>

  <div class="w-full md:w-1/2 flex flex-col justify-center items-center p-4 md:p-12 relative">
    <div class="w-full max-w-lg">

      <div class="flex items-center gap-3 mb-8">
        <div class="logo">
          <img src="../../assets/logo.jpg" alt="Logo">
        </div>
        <h2 class="text-2xl md:text-2xl font-extrabold text-[#530062] uppercase mb-2">Devenez Client dès maintenant</h2>
      </div>

      <div *ngIf="step === 1" class="fade-in space-y-5">
        <div>
          <label class="block text-xs font-bold text-gray-800 mb-1 ml-1">Nom</label>
          <input type="text" [(ngModel)]="formData.nom"
          (keypress)="onlyLetters($event)"
          placeholder="Entrez votre nom de famille"
                 class="w-full bg-[#F7D9FF] text-[#B074C0] px-6 py-4 rounded-xl focus:outline-none focus:ring-2 focus:ring-[#D94CDF] transition placeholder-[#B074C0] text-sm font-medium">
        </div>
        <div>
          <label class="block text-xs font-bold text-gray-800 mb-1 ml-1">Prénom(s)</label>
          <input type="text" [(ngModel)]="formData.prenom" (keypress)="onlyLetters($event)" placeholder="Entrez vos prénoms"
                 class="w-full bg-[#F7D9FF] text-[#B074C0] px-6 py-4 rounded-xl focus:outline-none focus:ring-2 focus:ring-[#D94CDF] transition placeholder-[#B074C0] text-sm font-medium">
        </div>
        <div>
          <label class="block text-xs font-bold text-gray-800 mb-1 ml-1">Date de naissance</label>
          <input type="date" [(ngModel)]="formData.dateNaiss"
                 class="w-full bg-[#F7D9FF] text-[#B074C0] px-6 py-4 rounded-xl focus:outline-none focus:ring-2 focus:ring-[#D94CDF] transition placeholder-[#B074C0] text-sm font-medium">
        </div>
        <div>
          <label class="block text-xs font-bold text-gray-800 mb-1 ml-1">Sexe</label>
          <div class="relative">
            <select [(ngModel)]="formData.sexe" class="w-full bg-[#F7D9FF] text-[#B074C0] px-6 py-4 rounded-xl focus:outline-none focus:ring-2 focus:ring-[#D94CDF] transition placeholder-[#B074C0] text-sm font-medium appearance-none cursor-pointer">
              <option value="" disabled selected>Sélectionnez votre sexe</option>
              <option value="Masculin">Masculin</option>
              <option value="Féminin">Féminin</option>
            </select>
            <div class="absolute inset-y-0 right-0 flex items-center px-4 pointer-events-none text-purple-800"></div>
          </div>
        </div>
        <div class="pt-4 flex justify-center">
          <button (click)="nextStep()" class="w-1/2 bg-[#E040FB] hover:bg-[#D500F9] text-white font-bold py-3 rounded-xl shadow-lg transition transform hover:scale-105">
            Suivant
          </button>
        </div>
      </div>

      <div *ngIf="step === 2" class="fade-in space-y-5">

        <div>
          <label class="block text-xs font-bold text-gray-800 mb-1 ml-1">Nationalité</label>
          <div class="relative">
            <select [(ngModel)]="formData.nationalite" class="w-full bg-[#F7D9FF] text-[#B074C0] px-6 py-4 rounded-xl focus:outline-none focus:ring-2 focus:ring-[#D94CDF] transition placeholder-[#B074C0] text-sm font-medium appearance-none cursor-pointer">
              <option value="" disabled selected>Sélectionnez votre nationalité</option>
              <option *ngFor="let c of allCountries" [value]="c.name">{{ c.name }}</option>
            </select>
            <div class="absolute inset-y-0 right-0 flex items-center px-4 pointer-events-none text-purple-800"></div>
          </div>
        </div>

        <div>
          <label class="block text-xs font-bold text-gray-800 mb-1 ml-1">Numéro de téléphone</label>
          <div class="flex gap-2">
            <div class="relative w-1/5">
                <select [(ngModel)]="formData.indicatif" class="w-full bg-[#5D0085] text-white px-2 py-4 rounded-xl focus:outline-none text-xs font-bold appearance-none cursor-pointer text-center">
                    <option *ngFor="let c of allCountries" [value]="'+' + c.phonecode">
                        {{ c.isoCode }} +{{ c.phonecode }}
                    </option>
                </select>
                <div class="absolute inset-y-0 right-0 flex items-center px-1 pointer-events-none text-white text-[10px]"></div>
            </div>

            <input type="tel" [(ngModel)]="formData.telephone"
            (keypress)="onlyNumbers($event)"  placeholder="ex : 90000000"
                   class="w-full bg-[#F7D9FF] text-[#B074C0] px-6 py-4 rounded-xl focus:outline-none focus:ring-2 focus:ring-[#D94CDF] transition placeholder-[#B074C0] text-sm font-medium">
          </div>
        </div>

        <div>
          <label class="block text-xs font-bold text-gray-800 mb-1 ml-1">Email</label>
          <input type="email" [(ngModel)]="formData.email" placeholder="Entrez votre e-mail"
                 class="w-full bg-[#F7D9FF] text-[#B074C0] px-6 py-4 rounded-xl focus:outline-none focus:ring-2 focus:ring-[#D94CDF] transition placeholder-[#B074C0] text-sm font-medium">
        </div>

        <div>
          <label class="block text-xs font-bold text-gray-800 mb-1 ml-1">Pays de résidence</label>
          <div class="relative">
            <select [(ngModel)]="formData.paysResidence" (change)="onPaysChange()" class="w-full bg-[#F7D9FF] text-[#B074C0] px-6 py-4 rounded-xl focus:outline-none focus:ring-2 focus:ring-[#D94CDF] transition placeholder-[#B074C0] text-sm font-medium appearance-none cursor-pointer">
              <option value="" disabled selected>Sélectionnez le pays</option>
              <option *ngFor="let c of allCountries" [value]="c.name">{{ c.name }}</option>
            </select>
            <div class="absolute inset-y-0 right-0 flex items-center px-4 pointer-events-none text-purple-800"></div>
          </div>
        </div>

        <div>
          <label class="block text-xs font-bold text-gray-800 mb-1 ml-1">Ville</label>
          <div class="relative">
            <select [(ngModel)]="formData.ville" [disabled]="!villesDisponibles.length" class="w-full bg-[#F7D9FF] text-[#B074C0] px-6 py-4 rounded-xl focus:outline-none focus:ring-2 focus:ring-[#D94CDF] transition placeholder-[#B074C0] text-sm font-medium appearance-none cursor-pointer disabled:opacity-50">
              <option value="" disabled selected>Sélectionnez d'abord un pays</option>
              <option *ngFor="let v of villesDisponibles" [value]="v.name">{{ v.name }}</option>
            </select>
            <div class="absolute inset-y-0 right-0 flex items-center px-4 pointer-events-none text-purple-800"></div>
          </div>
        </div>

        <div class="pt-4 flex justify-between items-center">
          <button (click)="prevStep()" class="text-gray-500 hover:text-purple-800 text-sm font-bold px-4">← Retour</button>
          <button (click)="nextStep()" class="w-1/2 bg-[#E040FB] hover:bg-[#D500F9] text-white font-bold py-3 rounded-xl shadow-lg transition transform hover:scale-105">Suivant</button>
        </div>
      </div>

      <div *ngIf="step === 3" class="fade-in space-y-5">
        <p class="text-sm text-gray-500 mb-4">Dernière étape ! Sécurisez votre compte.</p>

        <div>
          <label class="block text-xs font-bold text-gray-800 mb-1 ml-1">Mot de passe</label>
          <input type="password" [(ngModel)]="formData.password" placeholder="Entrez votre mot de passe"
                 class="w-full bg-[#F7D9FF] text-[#B074C0] px-6 py-4 rounded-xl focus:outline-none focus:ring-2 focus:ring-[#D94CDF] transition placeholder-[#B074C0] text-sm font-medium">
        </div>

        <div>
          <label class="block text-xs font-bold text-gray-800 mb-1 ml-1">Confirmation du mot de passe</label>
          <input type="password" [(ngModel)]="formData.confirmPassword" placeholder="Confirmez votre mot de passe"
                 class="w-full bg-[#F7D9FF] text-[#B074C0] px-6 py-4 rounded-xl focus:outline-none focus:ring-2 focus:ring-[#D94CDF] transition placeholder-[#B074C0] text-sm font-medium">
        </div>

        <div class="pt-6 flex justify-between items-center">
          <button (click)="prevStep()" class="text-gray-500 hover:text-purple-800 text-sm font-bold px-4">← Retour</button>
          <button (click)="onSubmit()" [disabled]="isLoading"
                  class="w-1/2 bg-[#E040FB] hover:bg-[#D500F9] text-white font-bold py-3 rounded-xl shadow-lg transition transform hover:scale-105 disabled:opacity-50">
            {{ isLoading ? 'Création...' : 'Terminer' }}
          </button>
        </div>
      </div>

    </div>
    <div class="absolute bottom-4 text-[10px] text-purple-300 uppercase tracking-widest text-center w-full">© 2026 EGA BANQUE – Tous droits réservés</div>
  </div>
</div>
