#sidebar-wrapper {
  background: linear-gradient(180deg, #212529 0%, #343a40 100%);
  transition: all 0.3s;
}

.list-group-item {
  transition: all 0.2s;
  font-weight: 500;
}

.list-group-item:hover {
  background-color: #0d6efd !important; /* Bleu Bootstrap */
  padding-left: 25px !important;
  color: white !important;
}

.sidebar-heading {
  letter-spacing: 2px;
  color: #0d6efd;
}
