.font-mono {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.text-right {
    text-align: right;
}

.capitalize {
    text-transform: capitalize;
}

.overflow-hidden {
    overflow: hidden;
}