.grid-clients {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.flex-col {
    flex-direction: column;
}

.text-xs {
    font-size: 0.75rem;
}

.text-right {
    text-align: right;
}

.justify-between {
    justify-content: space-between;
}

.items-start {
    align-items: flex-start;
}